
body, html{
  overflow: hidden; 
  margin: 0px;
  min-height: 100%;
  min-width: 100%;
  z-index: -1;
}


.container{
  z-index: 10;
  position: absolute;
  left: 20%;
  top: 20%;
  width: 80%;
  padding: 0%;
}

  
