
body, html{
  overflow: hidden; 
  margin: 0px;
  min-height: 100%;
  min-width: 100%;
}


.container{
  position: absolute;
  left: 20%;
  top: 20%;
  width: 100px;
  padding: 0%;
}
@media only screen and (max-width: 600px) {
  body{
    height: 100hv;
  }
  
}