
body{
  overflow: hidden; 
  margin: 0px;
}


.container{
  position: absolute;
  left: 20%;
  top: 20%;
  width: 100px;
  padding: 0%;
}
@media only screen and (max-width: 800px) {
  body{
    width: 100wv;
  }
  
}
